mixin button(text, icon)
  if click
  a.btn.btn-labeled&attributes(attributes)
    if text
      span.btn-label: i(class='fa fa-'+icon)
      = text
    else
      i(class='fa fa-'+icon)

mixin btnbar
  .navbar.navbar-default
    .navbar-form
      block

mixin widget(title, icon)
  div(jarvis-widget, data-widget-editbutton='false', data-widget-colorbutton='false', data-widget-deletebutton='false', data-widget-fullscreenbutton="false", id!=attributes.id)
    header
      if icon
        span.widget-icon
          i(class='fa fa-'+icon)
      h2= title
    div
      .widget-body(class!=attributes.class)
        block

mixin navbar-simple(title, href)
  nav&attributes(attributes)(role='navigation')
    .nav-wrapper.container
      a#logo-container.brand-logo(href=href)= title
      ul.right.hide-on-med-and-down
        block
      ul#nav-mobile.side-nav
        block
      a.button-collapse(href='#', data-activates='nav-mobile'): i.material-icons menu

mixin navbar-unresponsive(title, href)
  nav&attributes(attributes)(role='navigation')
    .nav-wrapper.container
      a#logo-container.brand-logo(href=href)= title
      ul.right
        block

mixin footer
  footer.page-footer(class=colorTwo, style='padding-top: 0;')
    style.
      body { display: flex; min-height: 100vh; flex-direction: column; }
      main { flex: 1; }
    .container
      br
      .row
        .col.l6.s12
          h5.white-text Контакты
          ul.grey-text.text-lighten-4
            li Juneau Ltd.
            li: a.white-text(href="mailto:mail@srv.tld") mail@srv.tld
            li +7 (495) 123-45-67
        .col.l3.offset-l3.s12
          h5.white-text Поделиться
          ul.fa-ul
            li: a.white-text(href='#!')
              i.fa.fa-li.fa-facebook
              | Facebook
            li: a.white-text(href='#!')
              i.fa.fa-li.fa-vk
              | ВКонтакт
    .footer-copyright
      .container
        | Сделано 
        a.text-lighten-3(class="#{colorTwo}-text", href='http://materializecss.com') на коленке

mixin login-box
  script.
    jQuery( function() { $('.modal-trigger').leanModal(); });
  style.
    #login-box { width: 240px; } 
  #login-box.modal.center-align
    .modal-content
      i.large.material-icons(class="#{colorOne}-text") account_circle
      p: a.btn(class=colorOne, style='display: block')
        i.fa.fa-vk
        |  Вконтакт
      p: a.btn(class=colorOne, style='display: block')
        i.fa.fa-facebook
        |  Facebook
      p: a.btn(class=colorOne, style='display: block')
        i.fa.fa-envelope
        |  Gmail
    .modal-footer
      a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn-flat Отказаться

mixin user-box
  script.
    jQuery( function() { $('.modal-trigger').leanModal(); });
  style.
    #user-box { width: 240px; } 
  #user-box.modal.center-align
    .modal-content
      img.responsive-img.circle(src='./images/upic_0.jpg')
      p.flow-text Landen
      p.flow-text Schaden
    .modal-footer
      a(href="#!").modal-action.modal-close.waves-effect.waves-green.btn Выйти
